---
import Main from "@layouts/Main.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import BgDiv from "@components/BgDiv.astro";

import AbstractBackground from "@assets/abstract_background.jpg";
import PorcelanaBackground from "@assets/porcelana_bg.png";
import RockstarIdolBackground from "@assets/rockstar_idol_background.jpg";
import RockstarIdolEBackground from "@assets/rockstar_idol_e_background.png";
import TanyaBg from "@assets/tanya_bg.png";

import PorcelanaLogo from "@assets/porcelana_logo.png";
import RockstarIdolLogo from "@assets/rockstar_idol_logo.png";
import RockstarIdolELogo from "@assets/rockstar_idol_e_logo.png";
import CatsLogo from "@assets/cats_logo.png";

import IsabellaSeeing from "@assets/isabella_seeing.png";
import IsabellaShy from "@assets/isabella_shy_2.png";
import Hitori from "@assets/hitori.png";
import PlayerKun from "@assets/player_kun.png";
import Ruka from "@assets/ruka.png";
import Estrella from "@assets/estrella.png";
import Cecilia from "@assets/cecilia.png";

import CharactersScreenshot from "@assets/characters_screenshot.png";
import CustomScreenshot from "@assets/custom_screenshot.png";

import { Gamepad2, Store, Rss, ExternalLink } from "@lucide/astro";
---

<Main>
	<div
		class="h-screen w-screen fixed top-0 opacity-0 z-40"
		id="loading-screen"
	>
		<div class="w-full h-full flex items-center justify-center">
			<p
				class="orbitron-regular text-2xl tracking-[.5rem] [text-shadow:_3px_3px_0px_rgba(5,213,255,0.5)]"
			>
				loading
			</p>
		</div>
	</div>

	<div class="h-screen w-screen fixed top-0 z-30" id="start-screen">
		<div class="w-full h-full flex items-center justify-center">
			<p
				id="start-screen-text"
				class="orbitron-regular text-2xl tracking-[.5rem] [text-shadow:_3px_3px_0px_rgba(255,5,155,0.5)]"
			>
			</p>
		</div>
	</div>

	<div id="loading-bg" class="h-screen w-screen fixed top-0 bg-white z-10">
	</div>

	<Navbar />

	<div id="smooth-wrapper">
		<div id="smooth-content">
			<div id="home"></div>

			<div class="h-screen w-screen" id="about-screen">
				<BgDiv
					backgroundSrc={AbstractBackground.src}
					className="w-full h-full flex items-center justify-center orbitron regular"
				>
					<p
						class="bg-white shadow-[0px_0px_20px_20px_#ffffff] p-4 text-center lg:text-left"
						id="about-screen-text"
					>
						We are a Mexican video-games studio creating unique
						anime-inspired games that blend storytelling, style, and
						passion.
					</p>
				</BgDiv>
			</div>

			<div id="games" scroll-offset="-500"></div>

			<BgDiv
				backgroundSrc={PorcelanaBackground.src}
				className="h-screen w-screen bg-[#69bcff]"
				id="game-1"
			>
				<div
					class="w-full h-full flex flex-row justify-center items-end lg:items-center shadow-[inset_0px_-50px_100px_-9px_rgba(0,0,0,0.5)]"
				>
					<div class="lg:grid grid-cols-2 grid-rows-1 gap-4 w-full">
						<div>
							<div class="w-full flex justify-center">
								<img
									class="absolute bottom-0 max-h-screen z-[-1]"
									src={IsabellaShy.src}
									alt="Isabella sprite"
								/>
								<img
									class="absolute bottom-0 max-h-screen z-[-1]"
									src={IsabellaSeeing.src}
									alt="Isabella sprite"
									id="isabella-sprite"
								/>
							</div>
						</div>

						<div
							class="opacity-0 z-20 max-lg:pt-8"
							id="game-1-logo"
						>
							<div
								class="w-full flex justify-center lg:justify-start"
							>
								<img
									class="w-full max-w-80 h-fit"
									src={PorcelanaLogo.src}
									alt="Porcelana"
								/>
							</div>

							<div
								class="w-full flex justify-center mt-5 lg:justify-start lg:mt-2"
							>
								<p
									class="max-w-[50ch] text-xl text-white text-shadow-lg text-shadow-[rgba(0,0,0,0.6)] text-center p-2 lg:text-left max-lg:p-4"
								>
									Porcelana is a visual novel about a girl who
									seems perfect but hides her pain behind a
									mask — a touching story about vulnerability
									and self-acceptance.
								</p>
							</div>

							<div
								class="w-full flex justify-center mt-10 mb-20 gap-4 p-2 text-sm lg:text-base lg:justify-start lg:mt-5 lg:mb-0"
							>
								<a
									target="_blank"
									href="https://store.steampowered.com/app/1788840/Porcelana/"
									class="flex items-center gap-3 text-pink-400 bg-white rounded py-2 px-4 opacity-80 shadow-pink-400 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
								>
									<Gamepad2 /> PLAY ON STEAM
								</a>

								<a
									target="_blank"
									href="https://panditastudio.itch.io/porcelana"
									class="flex items-center gap-3 text-pink-400 bg-white rounded py-2 px-4 opacity-80 shadow-pink-400 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
								>
									<Store /> PLAY ON ITCH.IO
								</a>
							</div>
						</div>
					</div>
				</div>
			</BgDiv>

			<BgDiv
				backgroundSrc={RockstarIdolBackground.src}
				className="h-screen w-screen bg-indigo-200 overflow-clip"
				id="game-2"
			>
				<div
					class="w-full h-full flex flex-row justify-center items-end lg:items-center shadow-[inset_0px_-50px_100px_-9px_rgba(0,0,0,0.5)]"
				>
					<div class="lg:grid grid-cols-2 grid-rows-1 gap-4 w-full">
						<div
							class="opacity-0 z-20 max-lg:pt-8"
							id="game-2-logo"
						>
							<div
								class="w-full flex justify-center lg:justify-end"
							>
								<img
									class="w-full max-w-80 h-fit"
									src={RockstarIdolLogo.src}
									alt="Rockstar Idol logo"
								/>
							</div>
							<div
								class="w-full flex justify-center mt-5 lg:justify-end lg:mt-2"
							>
								<p
									class="max-w-[50ch] text-xl text-white text-shadow-lg text-shadow-[rgba(0,0,0,0.6)] text-center p-2 lg:text-right max-lg:p-4"
								>
									Rockstar Idol is a NSFW game which combines
									the storytelling of a visual novel with the
									mechanics of a rhythm game. 🎸
								</p>
							</div>
							<div
								class="w-full flex justify-center mt-10 mb-20 gap-4 p-2 text-sm lg:text-base lg:justify-end lg:mt-5 lg:mb-0"
							>
								<a
									target="_blank"
									href="https://panditastudio.itch.io/rockstar-idol"
									class="flex items-center gap-3 text-indigo-500 bg-white rounded py-2 px-4 opacity-80 shadow-indigo-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
								>
									<Store /> PLAY ON ITCH.IO
								</a>
							</div>
						</div>

						<div>
							<div class="w-full flex justify-center">
								<img
									class="absolute bottom-0 max-h-[95%] z-[-1]"
									src={Hitori.src}
									alt="Hitori sprite"
								/>
								<img
									class="absolute top-0 bottom-0 right-0 left-0 m-auto z-[1]"
									src={PlayerKun.src}
									alt="PlayerKun"
									id="player-kun"
								/>
							</div>
						</div>
					</div>
				</div>
			</BgDiv>

			<BgDiv
				backgroundSrc={RockstarIdolEBackground.src}
				className="h-screen w-screen bg-amber-200 overflow-clip"
				id="game-3"
			>
				<div
					class="w-full h-full flex flex-row justify-center items-end lg:items-center shadow-[inset_0px_-50px_100px_-9px_rgba(0,0,0,0.5)]"
				>
					<div class="lg:grid grid-cols-2 grid-rows-1 gap-4 w-full">
						<div>
							<div class="w-full flex justify-center">
								<img
									class="absolute bottom-0 max-h-[95%] z-[-3] opacity-0"
									src={Cecilia.src}
									alt="Cecilia sprite"
									id="cecilia-sprite"
								/>
								<img
									class="absolute bottom-0 max-h-[95%] z-[-2] opacity-0"
									src={Estrella.src}
									alt="Estrella sprite"
									id="estrella-sprite"
								/>
								<img
									class="absolute bottom-0 max-h-[95%] z-[-1]"
									src={Ruka.src}
									alt="Ruka sprite"
								/>
							</div>
						</div>

						<div
							class="opacity-0 z-20 max-lg:pt-8"
							id="game-3-logo"
						>
							<div
								class="w-full flex justify-center lg:justify-start"
							>
								<img
									class="w-full max-w-80 h-fit"
									src={RockstarIdolELogo.src}
									alt="Rockstar Idol extended logo"
								/>
							</div>
							<div
								class="w-full flex justify-center mt-5 lg:justify-start lg:mt-2"
							>
								<p
									class="max-w-[50ch] text-xl text-white text-shadow-lg text-shadow-[rgba(0,0,0,0.6)] text-center p-2 lg:text-left max-lg:p-4"
								>
									Rockstar Idol: Extended Edition is louder,
									hotter, and packed with content: 6 idols, 31
									songs, party levels, 90 CGs, Arcade Mode,
									Easy Mode, and full controller support.
								</p>
							</div>
							<div
								class="w-full flex justify-center mt-10 mb-20 gap-4 p-2 text-sm lg:text-base lg:justify-start lg:mt-5 lg:mb-0"
							>
								<a
									target="_blank"
									href="https://panditastudio.itch.io/rockstar-idol-extended-version"
									class="flex items-center gap-3 text-red-500 bg-white rounded py-2 px-4 opacity-80 shadow-red-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
								>
									<Store /> PLAY ON ITCH.IO
								</a>
							</div>
						</div>
					</div>
				</div>
			</BgDiv>

			<BgDiv
				backgroundSrc={TanyaBg.src}
				className="h-screen w-screen bg-blue-300 overflow-clip shadow-[0px_9px_68px_0px_#616161]"
				id="game-4"
			>
				<div
					class="w-full h-full flex flex-row justify-center items-end shadow-[inset_0px_-50px_100px_-9px_rgba(0,0,0,0.5)]"
				>
					<div
						class="opacity-0 z-20 pb-8 lg:pb-24 max-lg:pt-8"
						id="game-4-logo"
					>
						<div class="w-full flex justify-center">
							<img
								class="w-full max-w-80 h-fit"
								src={CatsLogo.src}
								alt="Tornaluna Cats Logo"
							/>
						</div>
						<div class="w-full flex justify-center mt-5">
							<p
								class="max-w-[50ch] text-xl text-white text-shadow-lg text-shadow-[rgba(0,0,0,0.6)] text-center p-2 max-lg:p-4"
							>
								A cozy tale of healing and connection. Help
								Tanya remember who she was — and discover who
								you’ll become together.
							</p>
						</div>
						<div
							class="w-full flex justify-center mt-10 mb-15 gap-4 p-2 text-sm lg:text-base lg:mt-5 lg:mb-0"
						>
							<a
								target="_blank"
								href="https://panditastudio.itch.io/the-book-of-tornaluna-cats-demo"
								class="flex items-center gap-3 text-indigo-500 bg-white rounded py-2 px-4 opacity-80 shadow-indigo-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
							>
								<Store /> DEMO
							</a>

							<a
								target="_blank"
								href="https://www.kickstarter.com/projects/edo0xff/the-book-of-tornaluna-cats"
								class="flex items-center gap-3 text-indigo-500 bg-white rounded py-2 px-4 opacity-80 shadow-indigo-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100"
							>
								<Rss /> FOLLOW
							</a>
						</div>
					</div>
				</div>
			</BgDiv>

			<div id="services"></div>

			<div class="w-screen bg-white p-4 pt-32 pb-32" id="assets-store">
				<div class="bg-white shadow-[0px_0px_20px_20px_#ffffff]">
					<div
						class="w-full lg:flex flex-row-reverse items-center justify-center"
					>
						<div class="flex-1/2 pt-5 lg:pt-0">
							<p
								class="orbitron-bold tracking-widest text-center text-lg lg:text-left lg:text-4xl [text-shadow:_3px_3px_0px_rgba(5,213,255,0.5)]"
							>
								GAME <br /> ASSETS
							</p>
							<p
								class="max-w-prose mt-5 text-center lg:text-left bg-white shadow-[0px_0px_20px_20px_#ffffff]"
							>
								Explore our itch.io store for a wide variety of
								characters, backgrounds, and soundtracks to
								bring your next visual novel to life.
							</p>
							<div
								class="mt-5 flex items-center justify-center lg:justify-start"
							>
								<a
									target="_blank"
									href="https://panditastudio.itch.io/"
									class="flex items-center gap-3 text-white bg-black rounded py-2 px-4 opacity-80 shadow-pink-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100 hover:text-pink-500"
								>
									<ExternalLink /> VISIT STORE
								</a>
							</div>
						</div>
						<div class="flex-1/2 mt-4 lg:mt-0">
							<img
								class="lg:max-w-3xl"
								src={CharactersScreenshot.src}
								alt="Characters screenshot"
							/>
						</div>
					</div>

					<div
						class="w-full lg:flex flex-row items-center justify-center mt-20"
					>
						<div class="flex-1/2 justify-end pt-5 lg:pt-0">
							<p
								class="orbitron-bold tracking-widest text-center text-lg lg:text-right lg:text-4xl [text-shadow:_3px_3px_0px_rgba(255,5,155,0.5)]"
							>
								CUSTOM <br /> ASSETS
							</p>
							<div class="lg:flex justify-end">
								<p
									class="max-w-prose mt-5 text-center lg:text-right"
								>
									Need something unique? We create custom
									assets, backgrounds, and soundtracks
									designed just for your game.
								</p>
							</div>
							<div
								class="mt-5 flex items-center justify-center lg:justify-end"
							>
								<a
									target="_blank"
									href="https://www.fiverr.com/s/zWm2Bpv"
									class="flex items-center gap-3 text-white bg-black rounded py-2 px-4 opacity-80 shadow-pink-500 shadow-none transition-all duration-300 hover:cursor-pointer hover:shadow-lg hover:opacity-100 hover:text-pink-500"
								>
									<ExternalLink /> GET IN TOUCH
								</a>
							</div>
						</div>
						<div class="flex-1/2 mt-4 lg:mt-0">
							<img
								class="lg:max-w-3xl"
								src={CustomScreenshot.src}
								alt="Characters screenshot"
							/>
						</div>
					</div>
				</div>
			</div>

			<Footer />
		</div>
	</div>
</Main>

<script>
	import gsap from "gsap";
	import ScrollSmoother from "gsap/ScrollSmoother";
	import ScrollTrigger from "gsap/ScrollTrigger";
	import TextPluging from "gsap/TextPlugin";
	import ScrollToPlugin from "gsap/ScrollToPlugin";

	gsap.registerPlugin(
		ScrollSmoother,
		ScrollTrigger,
		TextPluging,
		ScrollToPlugin,
	);

	ScrollTrigger.config({
		ignoreMobileResize: true,
	});

	const smoother = ScrollSmoother.create({
		wrapper: "#smooth-wrapper",
		content: "#smooth-content",
		smooth: 1,
		smoothTouch: false,
		effects: false,
		ignoreMobileResize: true,
		normalizeScroll: true,
	});

	function scrollToHash(hash: string) {
		if (!hash) return;
		const target = document.querySelector(hash);
		if (!target) return;

		const offset = target.getAttribute("scroll-offset");

		gsap.to(window, {
			duration: 2,
			scrollTo: {
				y: hash,
				offsetY: offset != null ? Number(offset) : 50,
			},
		});
		ScrollTrigger.refresh();
	}

	window.addEventListener("hashchange", () => {
		scrollToHash(window.location.hash);
	});

	window.addEventListener("load", () => {
		if (window.location.hash) {
			setTimeout(() => scrollToHash(window.location.hash), 100);
		}
	});

	let initial_timeline = gsap.timeline();

	initial_timeline
		.delay(1)
		.to("#loading-screen", { duration: 0.3, opacity: 1 })
		.to("#loading-screen", { duration: 0.3, opacity: 0 })
		.to("#loading-screen", { duration: 0.3, opacity: 1 })
		.to("#loading-screen", { duration: 0.3, opacity: 0 })
		.to("#start-screen-text", {
			duration: 0.3,
			text: "ready",
			ease: "none",
			delay: 0.5,
		})
		.to("#start-screen", { duration: 0.3, opacity: 0, delay: 0.5 })
		.to("#loading-bg", { duration: 1, delay: 1, opacity: 0 })
		.add(() => {
			document.querySelector("#loading-screen")?.classList.add("hidden");
			document.querySelector("#start-screen")?.classList.add("hidden");
			document.querySelector("#loading-bg")?.classList.add("hidden");
			setTimeout(() => {
				document
					.querySelector("#navbar")
					?.classList.remove("opacity-0");
			}, 500);
		});

	let game_1_animation = gsap.timeline({
		scrollTrigger: {
			trigger: "#game-1",
			start: "top top",
			end: "+=100%",
			markers: false,
			pin: true,
			scrub: 0.5,
			onLeave: () => {
				ScrollTrigger.clearScrollMemory();
			},
		},
	});

	game_1_animation
		.to("#game-1-logo", { opacity: 1 }, 0)
		.to("#isabella-sprite", { opacity: 0 }, 0);

	let game_2_animation = gsap.timeline({
		scrollTrigger: {
			trigger: "#game-2",
			start: "top top",
			end: "+=100%",
			markers: false,
			pin: true,
			scrub: 0.5,
			onLeave: () => {
				ScrollTrigger.clearScrollMemory();
			},
		},
	});

	game_2_animation
		.to("#game-2-logo", { opacity: 1 }, 0)
		.fromTo("#player-kun", { y: "60vh" }, { y: "-60vh" }, 0);

	let game_3_animation = gsap.timeline({
		scrollTrigger: {
			trigger: "#game-3",
			start: "top top",
			end: "+=100%",
			markers: false,
			pin: true,
			scrub: 0.5,
			onLeave: () => {
				ScrollTrigger.clearScrollMemory();
			},
		},
	});

	game_3_animation
		.to("#game-3-logo", { opacity: 1 }, 0)
		.to("#cecilia-sprite", { opacity: 1, xPercent: +40 }, 0)
		.to("#estrella-sprite", { opacity: 1, xPercent: -40 }, 0);

	let game_4_animation = gsap.timeline({
		scrollTrigger: {
			trigger: "#game-4",
			start: "top top",
			end: "+=100%",
			markers: false,
			pin: true,
			scrub: 0.5,
			onLeave: () => {
				ScrollTrigger.clearScrollMemory();
			},
		},
	});

	game_4_animation.to("#game-4-logo", { opacity: 1 }, 0);
</script>
