---
import { getEntry } from "astro:content";

const { postSlug } = Astro.props;
const post = await getEntry("blog", postSlug);

if (!post) {
    throw new Error(`Could not find blog post ${postSlug}`);
}

const author = await getEntry(post.data.author);
---

<div class="mb-10 w-full min-md:flex flex-row gap-4">
    <img
        src={post.data.image}
        alt={`${post.data.title} cover image.`}
        class="w-full min-md:max-w-3xs rounded object-cover aspect-video"
    />

    <div class="flex flex-col gap-2">

        <div>
            <div class="text-lg font-bold">
                {post.data.title}
            </div>
            <div class="text-gray-400 text-sm">
                {post.data.publishDate.toDateString()} - {
                    author?.data.name ?? 'anon'
                }
            </div>
        </div>

        <div>
            {post.data.excerpt}
        </div>

        <div>
            <a
                href={`/blog/p/${post.slug}`}
                class="hover:[text-shadow:_3px_3px_0px_rgba(255,5,155,0.5)] transition-all duration-300"
            >
                <i>continue reading →</i>
            </a>
        </div>

    </div>
</div>
